<h1>SIGN-UP</h1>
<form>
  <label>
    First Name:
    <input type="text" placeholder="First Name"/>
  </label>
  <br>
  <label>
    Last Name:
    <input type="text" placeholder="Last Name"/>
  </label>
  <br>
  <label>
    Email:
    <input type="email" placeholder="Email"/>
  </label>
  <br>
  <label>
    Password:
    <input type="password" placeholder="Password"/>
  </label>
  <br>
</form>
<button (click)="onSignupSubmit()">Submit</button>
<footer>
  <button routerLink="">Back</button>
</footer>
