/* You can add global styles to this file, and also import other style files */
@lt-blue: #bdfff5;
@dk-blue: #1c4274;
@gold: #fccb01;
@lt-green: #aaef58;


body {
  background-color: @lt-blue;
  display: flex;
  justify-content: center;

  .wrapper {
    text-align: center;
  }
}
